<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".cars.CarsApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_appli"
        android:label="@string/appTitle"
        android:roundIcon="@drawable/icon_appli"
        android:supportsRtl="true"
        android:theme="@style/Theme.FilRouge"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".basket.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".basket.BasketActivity"
            android:exported="false" />
        <activity
            android:name=".cars.SelectedCarActivity"
            android:exported="false" />
        <activity
            android:name=".connection.ConnectionActivity"
            android:exported="false" />
        <activity
            android:name=".main.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".connection.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".opinion.OpinionActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>